
.topnav {
    background-color: #000000;
    overflow: hidden;
  }
  
  /* nav bar link style */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active page */
  .topnav a.active {
    background-color: #fefa06;
    color: rgb(0, 0, 0);
    font-style: italic;
    
  }

  body, html {
    height: 100%;
}

/*hero image */
.hero-image {
  /* linear gradient to darken the image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/squarespace\ b&w\ skull\ backlground.jpg");

  /* Set a specific height */
  height: 92%;

/* center image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 

}


/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fefa06;
  font-family: 'Roboto', sans-serif;
}

/*----------------------------------------------------------------- design page image grid */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 6px;
}

/* four columns  */
.column {
  flex: 25%;
  max-width: 24.5%;
  padding: 0 6px;
}

.column img {
  margin-top: 6px;
  vertical-align: middle;
  width: 100%;
}
/* --------------------------------------- contact form */

* {
  box-sizing: border-box;
}


/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Roboto', sans-serif;
}

input[type=submit] {
  background-color: #fefa06;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

input[type=submit]:hover {
  background-color: #ffae00;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #000000;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: #fefa06;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* ---------------------- about me page */

body {
  /* Typography Declarations */
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.content-footer,
.masthead-heading,
.masthead-intro {
text-align: center;
}

.masthead {
padding: 6em 0;
border-top: solid 1em #fefa06;
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-family:Arial, Helvetica, sans-serif;
  font-size:  2em;
}

.masthead-heading {
  color: #fefa06;
  margin-top: -0.2em;

  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.introduction-section > p,
.location-section > p,
.questions-section,
.content-footer > p {
  /* Typography Declarations */
  font-weight: 300;
  letter-spacing: 0.05em;
}

.questions-section > h2 {
  font-size: 1.2em;
  font-weight: bold;
  /* Layout */
  margin: 2em 0 1em 0;
}

section > h1 {
  margin-top: 2em;
}

.content-footer,
.masthead-heading,
.masthead-intro {
text-align: center;
}

.masthead {
padding: 6em 0;
background-image: url(./Images/TV\ HEADER\ FIXED.jpg);
background-size: cover;
background-repeat: no-repeat;
border-top: solid 1em #fefa06;
}

.masthead-intro {
margin-bottom: 0.1em;
  font-size: 2em;
}

.masthead-heading {
margin-top: -0.2em;
font-weight: bold;
font-size: 6em;
letter-spacing: -0.02em;
text-transform: uppercase;
}
.introduction > p,
.location > p,
.content-footer > p {
  font-weight: 300;
  letter-spacing: 0.05em;
}
h2 {

  font-size: 1.2em;
  font-weight: bold;
}

.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.content-footer {
margin: 50px 0;
padding: 20px 0;
text-align: center;
background-color: #fefa06;
text-decoration: none;
}
.social {
display: inline-block;
margin: 0 5px;
}
.content-footer {
color: #000000;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}



























































